:root{
    --text-color: #45444f;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

body{
    background-color: #ede19e;
    padding: 1em;
}
#header{
    padding: 1em;
    background-color: #f2f0e5;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}
#logo-container{
    background-color: #f2f0e5;
}
#logo{
    color: #45444f;
    font-size: 1rem;
}
#logo span{
    font-size: 2rem;
    color: #8ab060;
}
#search{
    width: 20em;
    padding: .5em;
    border-radius: 1em;
    border: none
}
#search-btn{
    padding: .5em;
    background-color: #43436a;
    color: #f2f0e5;
    border-radius: 1em;
}
nav{
    width: 59%;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}




#app{
    padding-bottom: 4em;
}

#my-memories-text{
    text-align: center;
    margin: 1em;
}
#add-memory-btn{
    display: block;
    margin: auto;
    height: 4em;
    width: 10em;
    border-color: #8ab060;
    border-radius: 1em;
}

.post{
    background-color: #567b79;
    width: 60%;
    margin: 1em auto;
    padding: 2em;
    border-radius: 1em;
}
.post-icons{
    float: right;
}
.post-icons button{
    background: none;
    border: none;
}
.post-icons img{
    height: 2em;
}
.post h2{
    color: #ede19e;
}

.post p{
    color: #f2f0e5;
    margin: 1em;
}




/*add post*/
#post-form{
    width: 40%;
    margin: 2em auto;
    background-color: #f2f0e5;
    padding: 1em;
    border-radius: 1em;
}
#post-form h1{
    text-align: center;
}
.form-group{
    margin: 2em;
    display: flex;
    align-items: start;
}
.form-group label{
    width: 20%;
    margin-right: auto;
    font-size: 1rem;
    font-weight: bold;
}
.form-group input, .form-group textarea{
    width: 70%;
    padding: .5em;
}
#post-form button{
    background-color: #8ab060;
    display: block;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}
#post-form button h1{
    font-size: 1rem;
    color: #f2f0e5;
}



#footer{
    position: fixed;
    bottom: 0;
}
#grass-container{
    height: 10em;
    width: 100%;
}
.footer-grass{
    width: 100%;
}

.sunflower{
    position: absolute;
    bottom: -10em;
    height: 20em;
    z-index: -10;
}

.butterfly-right{
    position: absolute;
    right: 0;
    bottom: 5em;
    height: 5em;
    z-index: 10;
}
.butterfly-left{
    position: absolute;
    left: 0;
    bottom: 5em;
    height: 5em;
    z-index: 10;
}

.butterfly-animation{
    animation-name: flyaway;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes flyaway {
    from{
        right: 0;
        bottom: 5em;
    }
    to{
        translate: 20;
    }

    
}




.background-check{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}